@model PEDRO.Models.ArchiveUsersModels

@{
    ViewBag.Title = "Excluir";
}

<h2>Exclusão de arquivo</h2>

<h3>Você tem certeza que deseja excluir esse arquivo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
            @Html.ActionLink("Voltar para Arquivos", "Index")
        </div>
    }
</div>
