@{
    ViewBag.Title = "Recuperar";
}

<h2>Recuperar</h2>
@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-toolbar" value="Confirmar" />
    <input type="hidden" id="id" value="1" />
}