@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>PEDRO</h1>
    <p class="lead">PlaceHolder</p>
    <p><a href="#" class="btn btn-primary btn-lg">PlaceHolder</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PlaceHolder</h2>
        <p>
            PlaceHolder
        </p>
        <p><a class="btn btn-default" href="#">PlaceHolder</a></p>
    </div>
    <div class="col-md-4">
        <h2>PlaceHolder</h2>
        <p>PlaceHolder</p>
        <p><a class="btn btn-default" href="#">PlaceHolder</a></p>
    </div>
    <div class="col-md-4">
        <h2>PlaceHolder</h2>
        <p>PlaceHolder</p>
        <p><a class="btn btn-default" href="#">PlaceHolder</a></p>
    </div>
</div>