@{
    ViewBag.Title = "Upload";
}

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Upload @ViewBag.Message</h2>
            <input type="file" name="file" class="open" id="file" /><br>
            <input type="submit" class="btn btn-toolbar" value="Upload" />
        </div>
    </div>
}