@{
    ViewBag.Title = "Encriptar arquivo";
}

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Encriptar arquivo</h2>
            <hr />
            <h2>@TempData["Sucesso"]</h2>

            <input type="file" name="file" id="file" /><br>

            <label for="key">Insira uma senha para o arquivo selecionado:</label>
            <input type="password" name="userKey" id="userKey" /><br /><br />

            <input type="submit" class="btn btn-toolbar" value="Encriptar" />
        </div>
    </div>
}