@{
    ViewBag.Title = "Confirmação de Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar seu email. Por favor @Html.ActionLink("clique aqui para logar.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
